body > p:first-child {
  color: red;
}

body > p:nth-child(2):focus {
  color: blue;
}

body > p:nth-child(2):hover {
  color: red;
}

body > p:nth-child(2):active {
  color: green;
}
.a.c > span {
  color: red;
}
.a.c > span > span:nth-child(1) {
  color:green; 
}

.a.c > span > span:nth-child(2) {
  color:blue; 
}
a:visited {
  color: orange;
}

a:link {
  color: pink;
}

a[href^="mailto:"] {
  color: blue;
}

a[href^="tel"] {
  color: yellow;
}
a[download$=".pdf"] {
  font-size: 30px;
}

div.a ul li:nth-child(4),
div.a ul li:nth-child(5),
div.a ul li:nth-child(6),
div.a ul li:nth-child(7){
color: red;
}

.b ul > li:nth-child(-n+25) {
  color: red;
}
.b ul > li:nth-child(n+65) {
  color: green;
}
.b ul > li:nth-child(n+35):nth-child(-n+50) {
  color: blue;
}

/* .prime li:nth-child(1),
.prime li:nth-child(2n+4),
.prime li:nth-child(3n+9),
.prime li:nth-child(5n+25),
.prime li:nth-child(7n+49)
{
  color: red;
} */

.prime li:not(:nth-child(1)):not(:nth-child(2n+4)):not(:nth-child(3n+9)):not(:nth-child(5n+25)):not(:nth-child(7n+49))
{
  color: red;
}

